@font-face {
    font-family: 'Px437 DOS/V re. ANK24';
    src: url('Px437_DOS-V_re_ANK24.woff2') format('woff2'),
        url('Px437_DOS-V_re_ANK24.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

