#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  max-width: 100vw;
  max-height: 1000vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  mix-blend-mode: exclusion;
  opacity: 100%;
}

.grid-item {
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  scroll-padding-top: 10%;
  box-sizing: content-box;
}

.grid-item a {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-item img {
  object-fit: scale-down;
  position: fixed;
  width:90%;
  height:70%;
  /*border:2px dashed #ff4545;*/
}
